<header>
  <div class="header-container">
    <div class="logo">
      <a href="/home">
        <img src="assets/images/logo.png" alt="Logo image" class="logo" />
      </a>
    </div>
    <nav class="nav-links">
      <a
        *ngFor="let link of navLinks"
        routerLink="{{ link.url }}"
        routerLinkActive="active"
      >
        {{ link.label }}
      </a>
    </nav>
    <nav>
      <a href="/register" class="register-button">Sign Up</a>
      <a href="/login" class="login-button">Sign In </a>
    </nav>
  </div>
</header>
