<header>
  <div class="header-container">
    <div class="logo">
      <a routerLink="/home">
        <img src="assets/images/logo.png" alt="Logo image" class="logo" />
      </a>
    </div>
    <nav class="nav-links">
      <a
        *ngFor="let link of navLinks"
        routerLink="{{ link.url }}"
        routerLinkActive="active"
      >
        {{ link.label }}
      </a>
    </nav>
    <nav>
      <a *ngIf="!isLoggedIn" routerLink="/register" class="register-button">Sign Up</a>
      <a *ngIf="!isLoggedIn" routerLink="/login" class="login-button">Sign In</a>

      <!-- Dropdown con nombre de usuario -->
      <div *ngIf="isLoggedIn" class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown()">{{ username }}</button>
        <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
          <a href="#" (click)="logout()">Logout</a>
        </div>
      </div>
    </nav>
  </div>
</header>
