<section class="hero-section">
  <div class="video-container">
    <video #videoElement autoplay muted loop class="background-video">
      <!-- prettier-ignore -->
      <source [src]="selectedVideo" type="video/mp4">
      Tu navegador no soporta la reproducción de video.
    </video>
  </div>
  <div
    class="content-overlay d-flex flex-column justify-content-center align-items-center text-center"
  >
    <h1 class="display-4 fw-bold text-white">PLAN DO DONT</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">Write your future with us</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/register">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg px-4 me-sm-3"
          >
            Get started
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
