.todo-list {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
}

.task-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.task-content-actions {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin-right: 10px;
}

.task-description,
.task-deadline,
.task-streak {
  font-size: 0.9em;
  color: #6c757d;
  display: block;
  margin-top: 5px;
}

.task-actions {
  margin-left: auto;
}

.dropdown-toggle {
  border: none;
  background: none;
  cursor: pointer;
  color: #333; /* Color más oscuro para mejor visibilidad */
}

.dropdown-toggle:hover {
  color: #000; /* Color más oscuro al pasar el ratón */
}

.dropdown-menu {
  min-width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #ddd;
}

.dropdown-item {
  color: #333; /* Color más oscuro para mejor visibilidad */
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Fondo claro al pasar el ratón */
  color: #000;
}

.modal-box {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
}

.modal-content {
  background-color: white;
  min-width: 55vh;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.modal-header .close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.modal-header .close:hover {
  color: #000;
}

.addTaskButton {
  margin-top: 10px;
}

.header-left h5 {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
